@using MudBlazor
@using sacmy.Client.Shared
@using sacmy.Shared.ViewModel.HorecaViewModel

@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider/>
<MudSnackbarProvider/>
<Appbar/>

<main>
    @Body
</main>

