@inherits MudDialog

<MudDialogContent>
    <div class="text-center" style="padding: 20px;">
        <MudText Typo="Typo.h5" Align="Align.Center">Generating PDF...</MudText>

        <div class="progress" style="height: 30px; margin-top: 10px;">
            <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                 role="progressbar" style="width: @progressPercent%;" aria-valuenow="@progressPercent" aria-valuemin="0" aria-valuemax="100">
                @progressPercent
            </div>
        </div>
    </div>
</MudDialogContent>

@code {
    [Parameter]
    public int progressPercent { get; set; }
}